<div class="container body-container">
    <h1>The #1 most watched YouTube video (as of <%= @last_updated %>) is: </h1>
    <h2><%= @youtube_video["title"]["$t"] %></h2>
    <h3>View Count: <%= @youtube_video["yt$statistics"]["viewCount"] %></h3>
    <h3>Number of likes: <%= @youtube_video["yt$rating"]["numDislikes"] %></h3>
    <h3>Number of dislikes: <%= @youtube_video["yt$rating"]["numLikes"] %></h3>

    <iframe width="420" height="315"
        src="<%= @youtube_video["link"][0]["href"] %>">
    </iframe>
</div>